<a href="https://colab.research.google.com/github/BugYale/Data_Science_IMA/blob/main/IMA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files
upload = files.upload()

Saving real_final_dataset_without_rescaling.csv to real_final_dataset_without_rescaling.csv

In [71]:
import numpy as np
import pandas as pd 
import math
import random
# from sklearn.model_selection import StratifiedKFold
# import matplotlib.pyplot as plt 
# import seaborn as sns 

 
%matplotlib inline

In [72]:
dataset = pd.read_csv('real_final_dataset_without_rescaling.csv')
dataset

,Unnamed: 0,review_score,price,freight_value,payment_value,is_repeat_buyer,product_photos_qty,is_same_region,dispatch_time,deliver_time,estimate_time_diff,delivery_is_late,freight_ratio
0,0,5,58.90,13.29,72.19,0,4.0,0,6.399468,1.214954,8.011250,0,0.225637
1,1,4,239.90,19.93,259.83,1,2.0,1,8.154097,8.062083,2.330278,0,0.083076
2,2,5,199.00,17.87,216.87,0,2.0,1,1.918947,6.029491,13.444954,0,0.089799
3,3,4,12.99,12.79,25.78,0,1.0,1,2.144039,4.003229,5.435660,0,0.984604
4,4,5,199.90,18.14,218.04,0,1.0,0,11.825208,13.289144,15.303808,0,0.090745
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102750,107249,5,299.99,43.41,343.40,0,3.0,0,1.924931,15.449769,7.043981,0,0.144705
102751,107250,5,350.00,36.53,386.53,0,1.0,0,2.901551,6.518692,8.144502,0,0.104371
102752,107251,5,99.90,16.95,116.85,0,1.0,0,2.920347,1.881343,12.484468,0,0.169670
102753,107252,5,55.99,8.72,64.71,0,1.0,1,0.833264,1.122766,8.083565,0,0.155742
102754,107253,5,43.00,12.79,55.79,0,1.0,1,1.882431,3.156551,13.252477,0,0.297442

In [ ]:
dataset.isnull().sum()

In [73]:
del dataset['Unnamed: 0']
dataset

,review_score,price,freight_value,payment_value,is_repeat_buyer,product_photos_qty,is_same_region,dispatch_time,deliver_time,estimate_time_diff,delivery_is_late,freight_ratio
0,5,58.90,13.29,72.19,0,4.0,0,6.399468,1.214954,8.011250,0,0.225637
1,4,239.90,19.93,259.83,1,2.0,1,8.154097,8.062083,2.330278,0,0.083076
2,5,199.00,17.87,216.87,0,2.0,1,1.918947,6.029491,13.444954,0,0.089799
3,4,12.99,12.79,25.78,0,1.0,1,2.144039,4.003229,5.435660,0,0.984604
4,5,199.90,18.14,218.04,0,1.0,0,11.825208,13.289144,15.303808,0,0.090745
...,...,...,...,...,...,...,...,...,...,...,...,...
102750,5,299.99,43.41,343.40,0,3.0,0,1.924931,15.449769,7.043981,0,0.144705
102751,5,350.00,36.53,386.53,0,1.0,0,2.901551,6.518692,8.144502,0,0.104371
102752,5,99.90,16.95,116.85,0,1.0,0,2.920347,1.881343,12.484468,0,0.169670
102753,5,55.99,8.72,64.71,0,1.0,1,0.833264,1.122766,8.083565,0,0.155742
102754,5,43.00,12.79,55.79,0,1.0,1,1.882431,3.156551,13.252477,0,0.297442

In [74]:
k = dataset.pop("review_score")
k

0         5
1         4
2         5
3         4
4         5
         ..
102750    5
102751    5
102752    5
102753    5
102754    5
Name: review_score, Length: 102755, dtype: int64

In [75]:
for i in range(len(k)):
  if k[i] <= 3:
    k[i] = 0
  else:
    k[i] = 1
k

<ipython-input-75-550113db1569>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k[i] = 1
<ipython-input-75-550113db1569>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k[i] = 0

0         1
1         1
2         1
3         1
4         1
         ..
102750    1
102751    1
102752    1
102753    1
102754    1
Name: review_score, Length: 102755, dtype: int64

In [76]:
dataset.insert(dataset.shape[1],"review_score",k)
dataset

,price,freight_value,payment_value,is_repeat_buyer,product_photos_qty,is_same_region,dispatch_time,deliver_time,estimate_time_diff,delivery_is_late,freight_ratio,review_score
0,58.90,13.29,72.19,0,4.0,0,6.399468,1.214954,8.011250,0,0.225637,1
1,239.90,19.93,259.83,1,2.0,1,8.154097,8.062083,2.330278,0,0.083076,1
2,199.00,17.87,216.87,0,2.0,1,1.918947,6.029491,13.444954,0,0.089799,1
3,12.99,12.79,25.78,0,1.0,1,2.144039,4.003229,5.435660,0,0.984604,1
4,199.90,18.14,218.04,0,1.0,0,11.825208,13.289144,15.303808,0,0.090745,1
...,...,...,...,...,...,...,...,...,...,...,...,...
102750,299.99,43.41,343.40,0,3.0,0,1.924931,15.449769,7.043981,0,0.144705,1
102751,350.00,36.53,386.53,0,1.0,0,2.901551,6.518692,8.144502,0,0.104371,1
102752,99.90,16.95,116.85,0,1.0,0,2.920347,1.881343,12.484468,0,0.169670,1
102753,55.99,8.72,64.71,0,1.0,1,0.833264,1.122766,8.083565,0,0.155742,1
102754,43.00,12.79,55.79,0,1.0,1,1.882431,3.156551,13.252477,0,0.297442,1

In [ ]:
dataset.info()

In [78]:
# 对整体样本进行抽样（避免计算量过大

dataset = np.array(dataset).tolist()

ratio = 0.03
sample_size = int(len(dataset)*ratio)
random.shuffle(dataset)
data_set = dataset[:sample_size]
len(data_set)

3082

In [79]:
# 划分训练集和测试集
# dataset = np.array(dataset)
# X = dataset[:,1:]
# Y = dataset[:,0]
# X.shape

def splitData(data_set,ratio):
    train_size = int(len(data_set)*ratio)
    random.shuffle(data_set)
    train_set = data_set[:train_size]
    test_set = data_set[train_size:]
    return train_set,test_set

In [80]:
trainset,testset = splitData(data_set,ratio = 0.7)
print('Split {0} samples into {1} train and {2} test samples '.format(len(data_set), len(trainset), len(testset)))

Split 3082 samples into 2157 train and 925 test samples

In [81]:
#提取数据特征
# 1 按类别划分数据，返回值为划分好的数据+每种类别的数量
def seprateByClass(dataset):
    seprate_dict = {}
    info_dict = {}
    for vector in dataset:
        if vector[-1] not in seprate_dict:
            seprate_dict[vector[-1]] = []
            info_dict[vector[-1]] = 0
        seprate_dict[vector[-1]].append(vector)
        info_dict[vector[-1]] +=1
    return seprate_dict,info_dict

In [82]:
train_separated,train_info = seprateByClass(trainset)
train_info

{0.0: 510, 1.0: 1647}

In [83]:
#计算均值和方差
def mean(list):
    list = [float(x) for x in list] #字符串转数字
    return sum(list)/float(len(list))
def var(list):
    list = [float(x) for x in list]
    avg = mean(list)
    var = sum([math.pow((x-avg),2) for x in list])/float(len(list)-1)
    return var

In [84]:
def summarizeAttribute(dataset):
    dataset = np.delete(dataset,-1,axis = 1) # delete label
    summaries = [(mean(attr),var(attr)) for attr in zip(*dataset)]
    return summaries

In [85]:
summary = summarizeAttribute(trainset)
summary

[(116.06435326842654, 32144.673015502256),
 (19.918335651367606, 209.43000840676626),
 (170.01338433008837, 73468.0865432719),
 (0.07000463606861382, 0.06513418365196685),
 (2.174316179879462, 2.973310350818748),
 (0.34028743625405655, 0.22459602123818523),
 (3.2639603347842554, 11.23510744110178),
 (9.30273660047391, 71.90294472232782),
 (11.288270521042605, 98.59995313887826),
 (0.07417709782104775, 0.06870670888155737),
 (0.3417250085235419, 0.12492543602323526)]

In [86]:
#按类别提取属性特征

def summarizeByClass(dataset):
    dataset_separated,dataset_info = seprateByClass(dataset)
    summarize_by_class = {}
    for classValue, vector in dataset_separated.items():
        summarize_by_class[classValue] = summarizeAttribute(vector)
    return summarize_by_class

In [87]:
train_Summary_by_class = summarizeByClass(trainset)
train_Summary_by_class

{0.0: [(125.32974509803951, 61474.64992390346),
  (20.235764705882385, 228.58165078932134),
  (217.53209803921573, 190305.45548891014),
  (0.0803921568627451, 0.07407450209946446),
  (2.0941176470588236, 2.7691205362302043),
  (0.29215686274509806, 0.2072075195500575),
  (4.015922272149602, 20.559276509024254),
  (13.303270039034135, 173.4399214432212),
  (6.797911810094404, 200.94664181155375),
  (0.21764705882352942, 0.17061134866520178),
  (0.3650671026721686, 0.17958738807604901)],
 1.0: [(113.19528840315603, 23059.525308164044),
  (19.820042501517882, 203.59400795688035),
  (155.29902853673346, 36466.29871375803),
  (0.06678809957498483, 0.06236531533824462),
  (2.199149969641773, 3.035649337762801),
  (0.3551912568306011, 0.22916957153954717),
  (3.0311123760372363, 8.12912802286713),
  (8.063955754289498, 34.05358583912716),
  (12.678727681081192, 58.82873764928262),
  (0.029751062537947785, 0.028883473836961528),
  (0.3344970376578472, 0.10787687677653858)]}

In [88]:
#贝叶斯分类器，计算概率并选择具有最大概率的类作为预测结果
# 先验概率

def calulateClassPriorProb(dataset,dataset_info):
    dataset_prior_prob = {}
    sample_sum = len(dataset)
    for class_value, sample_nums in dataset_info.items():
        dataset_prior_prob[class_value] = sample_nums/float(sample_sum)
    return dataset_prior_prob

In [89]:
prior_prob = calulateClassPriorProb(trainset,train_info)
prior_prob

{0.0: 0.2364394993045897, 1.0: 0.7635605006954103}

In [90]:
# 类条件概率
def calculateProb(x,mean,var):
    exponent = math.exp(math.pow((x-mean),2)/(-2*var))
    p = (1/math.sqrt(2*math.pi*var))*exponent
    return p

In [91]:
def calculateClassProb(input_data,train_Summary_by_class):
    prob = {}
    for class_value, summary in train_Summary_by_class.items():
        prob[class_value] = 1
        for i in range(len(summary)):
            mean,var = summary[i]
            x = input_data[i]
            p = calculateProb(x,mean,var)
        prob[class_value] *=p
    return prob

In [92]:
input_vector = testset[1]
input_data = input_vector[:-1]
train_Summary_by_class = summarizeByClass(trainset)
class_prob = calculateClassProb(input_data,train_Summary_by_class)
class_prob

{0.0: 0.8126075804044952, 1.0: 0.8869764065032911}

In [93]:
# 先验概率*类条件概率 由于分母P(X)在所有样本中都是相等的，所以贝叶斯分类器只需比较分子部分：先验概率*类条件概率，最终属于哪一类的概率大就判别为哪一类。
def bayesianPredictOneSample(input_data):
    prior_prob = calulateClassPriorProb(trainset,train_info)
    train_Summary_by_class = summarizeByClass(trainset)
    classprob_dict = calculateClassProb(input_data,train_Summary_by_class)
    result = {}
    for class_value,class_prob in classprob_dict.items():
        p = class_prob * prior_prob[class_value]
        result[class_value] = p
    return max(result,key=result.get)

In [94]:
#利用分类器进行预测
#单个样本预测
input_vector = testset[1]
input_data = input_vector[:-1]
result = bayesianPredictOneSample(input_data)
print("the sameple is predicted to class: {0}.".format(result))

the sameple is predicted to class: 1.0.

In [41]:
# #多个样本预测(test_set),测试accuracy
# def calculateAccByBeyesian(dataset):
#     correct = 0
#     for vector in dataset:
#         input_data = vector[:-1]
#         label = vector[-1]
#         result = bayesianPredictOneSample(input_data)
#         if result == label:
#             correct+=1
#     return correct/len(dataset)

# acc = calculateAccByBeyesian(testset)
# acc

In [111]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score, recall_score, f1_score

In [96]:
score = pd.DataFrame()

ls = []
for vector in testset:
    input_data = vector[:-1]
    label = vector[-1]
    result = bayesianPredictOneSample(input_data)
    ls.append(result)
score = pd.DataFrame(ls)

In [112]:
testset = pd.DataFrame(testset)
testset_score = testset.iloc[:,11:]

In [113]:
actual = testset_score  #真实的类别标签
predicted = score  #预测的类别标签

In [114]:
# 计算accuracy,precision,recall和f1_score

acc = accuracy_score(actual, predicted)
p = precision_score(actual, predicted)
r = recall_score(actual, predicted)
f1score = f1_score(actual, predicted)

print('accuracy：',round(acc,4)*100,'%')
print('precision：',round(p,4)*100,'%')
print('recall：',round(r,4)*100,'%')
print('f1_score：',round(f1score,4)*100,'%')

accuracy： 74.81 %
precision： 0.7591160220994475
recall： 0.9786324786324786
f1_score： 0.8550093341630368

In [104]:
# 混淆矩阵
confusion_matrix(actual, predicted)

array([[  5, 218],
       [ 15, 687]])