<a href="https://colab.research.google.com/github/BugYale/Data_Science_IMA/blob/main/IMA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [118]:
import numpy as np
import pandas as pd 
import math
import random
# from sklearn.model_selection import StratifiedKFold
# import matplotlib.pyplot as plt 
# import seaborn as sns 

 
%matplotlib inline

In [140]:
dataset = pd.read_csv('real_final_dataset_without_rescaling.csv')
dataset

,Unnamed: 0,review_score,price,freight_value,payment_value,is_repeat_buyer,product_photos_qty,is_same_region,dispatch_time,deliver_time,estimate_time_diff,delivery_is_late,freight_ratio
0,0,5,58.90,13.29,72.19,0,4.0,0,6.399468,1.214954,8.011250,0,0.225637
1,1,4,239.90,19.93,259.83,1,2.0,1,8.154097,8.062083,2.330278,0,0.083076
2,2,5,199.00,17.87,216.87,0,2.0,1,1.918947,6.029491,13.444954,0,0.089799
3,3,4,12.99,12.79,25.78,0,1.0,1,2.144039,4.003229,5.435660,0,0.984604
4,4,5,199.90,18.14,218.04,0,1.0,0,11.825208,13.289144,15.303808,0,0.090745
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102750,107249,5,299.99,43.41,343.40,0,3.0,0,1.924931,15.449769,7.043981,0,0.144705
102751,107250,5,350.00,36.53,386.53,0,1.0,0,2.901551,6.518692,8.144502,0,0.104371
102752,107251,5,99.90,16.95,116.85,0,1.0,0,2.920347,1.881343,12.484468,0,0.169670
102753,107252,5,55.99,8.72,64.71,0,1.0,1,0.833264,1.122766,8.083565,0,0.155742
102754,107253,5,43.00,12.79,55.79,0,1.0,1,1.882431,3.156551,13.252477,0,0.297442

In [141]:
dataset.isnull().sum()

Unnamed: 0            0
review_score          0
price                 0
freight_value         0
payment_value         0
is_repeat_buyer       0
product_photos_qty    0
is_same_region        0
dispatch_time         0
deliver_time          0
estimate_time_diff    0
delivery_is_late      0
freight_ratio         0
dtype: int64

In [142]:
del dataset['Unnamed: 0']
dataset

,review_score,price,freight_value,payment_value,is_repeat_buyer,product_photos_qty,is_same_region,dispatch_time,deliver_time,estimate_time_diff,delivery_is_late,freight_ratio
0,5,58.90,13.29,72.19,0,4.0,0,6.399468,1.214954,8.011250,0,0.225637
1,4,239.90,19.93,259.83,1,2.0,1,8.154097,8.062083,2.330278,0,0.083076
2,5,199.00,17.87,216.87,0,2.0,1,1.918947,6.029491,13.444954,0,0.089799
3,4,12.99,12.79,25.78,0,1.0,1,2.144039,4.003229,5.435660,0,0.984604
4,5,199.90,18.14,218.04,0,1.0,0,11.825208,13.289144,15.303808,0,0.090745
...,...,...,...,...,...,...,...,...,...,...,...,...
102750,5,299.99,43.41,343.40,0,3.0,0,1.924931,15.449769,7.043981,0,0.144705
102751,5,350.00,36.53,386.53,0,1.0,0,2.901551,6.518692,8.144502,0,0.104371
102752,5,99.90,16.95,116.85,0,1.0,0,2.920347,1.881343,12.484468,0,0.169670
102753,5,55.99,8.72,64.71,0,1.0,1,0.833264,1.122766,8.083565,0,0.155742
102754,5,43.00,12.79,55.79,0,1.0,1,1.882431,3.156551,13.252477,0,0.297442

In [143]:
k = dataset.pop("review_score")
k

0         5
1         4
2         5
3         4
4         5
         ..
102750    5
102751    5
102752    5
102753    5
102754    5
Name: review_score, Length: 102755, dtype: int64

In [144]:
dataset.insert(dataset.shape[1],"review_score",k)
dataset

,price,freight_value,payment_value,is_repeat_buyer,product_photos_qty,is_same_region,dispatch_time,deliver_time,estimate_time_diff,delivery_is_late,freight_ratio,review_score
0,58.90,13.29,72.19,0,4.0,0,6.399468,1.214954,8.011250,0,0.225637,5
1,239.90,19.93,259.83,1,2.0,1,8.154097,8.062083,2.330278,0,0.083076,4
2,199.00,17.87,216.87,0,2.0,1,1.918947,6.029491,13.444954,0,0.089799,5
3,12.99,12.79,25.78,0,1.0,1,2.144039,4.003229,5.435660,0,0.984604,4
4,199.90,18.14,218.04,0,1.0,0,11.825208,13.289144,15.303808,0,0.090745,5
...,...,...,...,...,...,...,...,...,...,...,...,...
102750,299.99,43.41,343.40,0,3.0,0,1.924931,15.449769,7.043981,0,0.144705,5
102751,350.00,36.53,386.53,0,1.0,0,2.901551,6.518692,8.144502,0,0.104371,5
102752,99.90,16.95,116.85,0,1.0,0,2.920347,1.881343,12.484468,0,0.169670,5
102753,55.99,8.72,64.71,0,1.0,1,0.833264,1.122766,8.083565,0,0.155742,5
102754,43.00,12.79,55.79,0,1.0,1,1.882431,3.156551,13.252477,0,0.297442,5

In [145]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102755 entries, 0 to 102754
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   price               102755 non-null  float64
 1   freight_value       102755 non-null  float64
 2   payment_value       102755 non-null  float64
 3   is_repeat_buyer     102755 non-null  int64
 4   product_photos_qty  102755 non-null  float64
 5   is_same_region      102755 non-null  int64
 6   dispatch_time       102755 non-null  float64
 7   deliver_time        102755 non-null  float64
 8   estimate_time_diff  102755 non-null  float64
 9   delivery_is_late    102755 non-null  int64
 10  freight_ratio       102755 non-null  float64
 11  review_score        102755 non-null  int64
dtypes: float64(8), int64(4)
memory usage: 9.4 MB

In [165]:
# 对整体样本进行抽样（避免计算量过大

dataset = np.array(dataset).tolist()

ratio = 0.05
sample_size = int(len(dataset)*ratio)
random.shuffle(dataset)
data_set = dataset[:sample_size]
len(data_set)

5137

In [166]:
# 划分训练集和测试集
# dataset = np.array(dataset)
# X = dataset[:,1:]
# Y = dataset[:,0]
# X.shape

def splitData(data_set,ratio):
    train_size = int(len(data_set)*ratio)
    random.shuffle(data_set)
    train_set = data_set[:train_size]
    test_set = data_set[train_size:]
    return train_set,test_set

In [167]:
trainset,testset = splitData(data_set,ratio = 0.7)
print('Split {0} samples into {1} train and {2} test samples '.format(len(data_set), len(trainset), len(testset)))

Split 5137 samples into 3595 train and 1542 test samples

In [168]:
#提取数据特征
# 1 按类别划分数据，返回值为划分好的数据+每种类别的数量
def seprateByClass(dataset):
    seprate_dict = {}
    info_dict = {}
    for vector in dataset:
        if vector[-1] not in seprate_dict:
            seprate_dict[vector[-1]] = []
            info_dict[vector[-1]] = 0
        seprate_dict[vector[-1]].append(vector)
        info_dict[vector[-1]] +=1
    return seprate_dict,info_dict

In [169]:
train_separated,train_info = seprateByClass(trainset)
train_info

{5.0: 2013, 2.0: 139, 4.0: 713, 1.0: 424, 3.0: 306}

In [170]:
#计算均值和方差
def mean(list):
    list = [float(x) for x in list] #字符串转数字
    return sum(list)/float(len(list))
def var(list):
    list = [float(x) for x in list]
    avg = mean(list)
    var = sum([math.pow((x-avg),2) for x in list])/float(len(list)-1)
    return var

In [171]:
def summarizeAttribute(dataset):
    dataset = np.delete(dataset,-1,axis = 1) # delete label
    summaries = [(mean(attr),var(attr)) for attr in zip(*dataset)]
    return summaries

In [172]:
summary = summarizeAttribute(trainset)
summary

[(115.85565507649612, 29406.964927137666),
 (19.722634214186353, 207.77041823984163),
 (171.60950486787183, 146400.9102958594),
 (0.07121001390820585, 0.06615755048400224),
 (2.2102920723226704, 2.968564049338807),
 (0.35438108484005565, 0.22885879185136343),
 (3.307372282748672, 13.423102837652698),
 (9.581311801370214, 89.95000428741456),
 (11.083456086127867, 117.50174929394308),
 (0.0851182197496523, 0.07789477594786413),
 (0.321834200087276, 0.10174553484063166)]

In [173]:
#按类别提取属性特征

def summarizeByClass(dataset):
    dataset_separated,dataset_info = seprateByClass(dataset)
    summarize_by_class = {}
    for classValue, vector in dataset_separated.items():
        summarize_by_class[classValue] = summarizeAttribute(vector)
    return summarize_by_class

In [174]:
train_Summary_by_class = summarizeByClass(trainset)
train_Summary_by_class

{5.0: [(118.4599354197697, 34293.65722598981),
  (19.31247391952303, 209.23952648105458),
  (154.10180824639843, 42707.130615515896),
  (0.07998012916045703, 0.07361988032065801),
  (2.2275211127670143, 3.139063285463545),
  (0.39046199701937406, 0.23811971687017136),
  (2.9241908727530346, 8.809510061801792),
  (7.673759550192266, 43.67390219981953),
  (12.598156755395493, 66.80898340593443),
  (0.024838549428713365, 0.024233634457536804),
  (0.3135686713435162, 0.09150893314051972)],
 2.0: [(100.7537410071941, 11109.788080106351),
  (20.983309352517978, 143.32884259201342),
  (185.29316546762593, 36287.732646428936),
  (0.1079136690647482, 0.09696590553644055),
  (2.1870503597122304, 3.1966426858513133),
  (0.20863309352517986, 0.16630174121572308),
  (4.37168240407674, 31.38928272541488),
  (14.813158473221424, 163.1868680930189),
  (7.482645383693043, 212.5006425345011),
  (0.2589928057553957, 0.19330622458554939),
  (0.382766936606427, 0.1541794195950824)],
 4.0: [(107.94408134642373, 17186.354769414684),
  (19.705890603085567, 183.55600738689148),
  (155.14269284712472, 34576.63206183956),
  (0.06311360448807854, 0.05921332555904037),
  (2.2384291725105188, 2.768914382967998),
  (0.3520336605890603, 0.22842633594402625),
  (3.2416307594410707, 11.280000366068977),
  (8.910459407952832, 44.93016367012705),
  (12.272584265103092, 82.1739428934194),
  (0.04908835904628331, 0.046744252013174004),
  (0.3213974841581027, 0.07806133085566225)],
 1.0: [(127.29150943396246, 43877.76428234984),
  (21.08542452830189, 221.56226885008255),
  (279.417004716981, 927544.9590035367),
  (0.04716981132075472, 0.04505107275079191),
  (2.042452830188679, 2.400084749542797),
  (0.2641509433962264, 0.1948347383915434),
  (4.875673179813066, 32.2920971927309),
  (16.970424473707208, 275.5126586581161),
  (3.6662391629542306, 311.9154005668563),
  (0.3584905660377358, 0.23051875641197112),
  (0.3444551148249814, 0.19218792355501305)],
 3.0: [(108.17232026143826, 13757.92302771349),
  (19.998888888888892, 262.86652859744987),
  (169.55532679738565, 40966.36234759777),
  (0.049019607843137254, 0.04676952748312458),
  (2.2745098039215685, 2.986692381870782),
  (0.3137254901960784, 0.21600771456123372),
  (3.324755280198498, 9.823640680229694),
  (11.078076434277405, 95.31333725959124),
  (10.26146858357541, 121.7914404484852),
  (0.10784313725490197, 0.09652844744455147),
  (0.31820338176617113, 0.07387154545410643)]}

In [175]:
#贝叶斯分类器，计算概率并选择具有最大概率的类作为预测结果
# 先验概率

def calulateClassPriorProb(dataset,dataset_info):
    dataset_prior_prob = {}
    sample_sum = len(dataset)
    for class_value, sample_nums in dataset_info.items():
        dataset_prior_prob[class_value] = sample_nums/float(sample_sum)
    return dataset_prior_prob

In [176]:
prior_prob = calulateClassPriorProb(trainset,train_info)
prior_prob

{5.0: 0.5599443671766342,
 2.0: 0.03866481223922114,
 4.0: 0.19833101529902641,
 1.0: 0.11794158553546592,
 3.0: 0.0851182197496523}

In [177]:
# 类条件概率
def calculateProb(x,mean,var):
    exponent = math.exp(math.pow((x-mean),2)/(-2*var))
    p = (1/math.sqrt(2*math.pi*var))*exponent
    return p

In [178]:
def calculateClassProb(input_data,train_Summary_by_class):
    prob = {}
    for class_value, summary in train_Summary_by_class.items():
        prob[class_value] = 1
        for i in range(len(summary)):
            mean,var = summary[i]
            x = input_data[i]
            p = calculateProb(x,mean,var)
        prob[class_value] *=p
    return prob

In [179]:
input_vector = testset[1]
input_data = input_vector[:-1]
train_Summary_by_class = summarizeByClass(trainset)
class_prob = calculateClassProb(input_data,train_Summary_by_class)
class_prob

{5.0: 1.3152964632433386,
 2.0: 1.008712052649978,
 4.0: 1.4260304581450085,
 1.0: 0.9098273168783941,
 3.0: 1.4648023593936146}

In [180]:
# 先验概率*类条件概率 由于分母P(X)在所有样本中都是相等的，所以贝叶斯分类器只需比较分子部分：先验概率*类条件概率，最终属于哪一类的概率大就判别为哪一类。
def bayesianPredictOneSample(input_data):
    prior_prob = calulateClassPriorProb(trainset,train_info)
    train_Summary_by_class = summarizeByClass(trainset)
    classprob_dict = calculateClassProb(input_data,train_Summary_by_class)
    result = {}
    for class_value,class_prob in classprob_dict.items():
        p = class_prob*prior_prob[class_value]
        result[class_value] = p
    return max(result,key=result.get)

In [181]:
#利用分类器进行预测
#单个样本预测
input_vector = testset[1]
input_data = input_vector[:-1]
result = bayesianPredictOneSample(input_data)
print("the sameple is predicted to class: {0}.".format(result))

the sameple is predicted to class: 5.0.

In [182]:
#多个样本预测(test_set),测试accuracy
def calculateAccByBeyesian(dataset):
    correct = 0
    for vector in dataset:
        input_data = vector[:-1]
        label = vector[-1]
        result = bayesianPredictOneSample(input_data)
        if result == label:
            correct+=1
    return correct/len(dataset)

In [183]:
acc = calculateAccByBeyesian(testset)
acc

0.5583657587548638